<div class="modal">
  <div class="modal-container">
    <div class="row modal-row">
      <div class="col center modal-title">
        <p>¿Cerrar la sesión actual?</p>
      </div>
    </div>
    <div class="row modal-row">
      <div class="col">
        <button class="button button-full modal-button" ng-click="closeModal(true)">Si</button>
      </div>
      <div class="col">
        <button class="button button-full modal-button" ng-click="closeModal(false)">¡Espera un momento!</button>
      </div>
    </div>
  </div>
</div>